<html>

<head>
  <meta charset="utf-8">
  <title>Oklahoma Christian CG</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
    }

    .centered {
      margin: auto;
      display: flex;
      flex-direction: column;
    }

    .center {
      display: flex;
      align-items: center;
    }

    .column {
      flex-grow: 1;
    }

    canvas {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  </style>
</head>

<!-- v-model binds an HTML input to a variable in the data section -->
<!-- v-if shows/hides an input depending on the JS variable -->
<!-- @<eventName> (i.e. @click) binds the stuff to an HTML event, it's a shortcut to onclick/lets Vue handle events -->
  
<body>
  <div class="centered">
    <!-- 16:9 canvas -->
    <canvas id="canvas" width="896" height="504"></canvas>
    <br/>
    <div class="center" id="app">
      <div class="column">
        <label class="center">
          Perspective
          <input type="checkbox" v-model="perspective">
        </label>
        <label class="center" v-if="perspective">
          FOV
          <input type="range" v-model="fov" min="30" max="180" step="5">
        </label>
        <label class="center" v-if="perspective">
          Aspect ratio
          <input type="range" v-model="aspectRatio" min="1" max="2.5" step="any">
        </label>
        <div class="center">
          Eye 
            X 
            <button @click="eye.x++">+</button>
            <button @click="eye.x--">-</button>
            Y 
            <button @click="eye.y++">+</button>
            <button @click="eye.y--">-</button>
            Z 
            <button @click="eye.z++">+</button>
            <button @click="eye.z--">-</button>
        </div>
        <div class="center">
          Look at 
            X 
            <button @click="lookAt.x++">+</button>
            <button @click="lookAt.x--">-</button>
            Y 
            <button @click="lookAt.y++">+</button>
            <button @click="lookAt.y--">-</button>
            Z 
            <button @click="lookAt.z++">+</button>
            <button @click="lookAt.z--">-</button>
        </div>
        <label class="center">
          Rotation
          <input type="range" v-model="angle" min="0" max="360" step="1">
        </label>
        <label class="center">
          Rotation step 
          <input type="number" v-model="angleStep">
        </label>
        <label>
          Pause
          <input type="checkbox" v-model="pause">
        </label>
        <div class="center">
          <label>
            Pyramid
            <input type="radio" value="pyramid" v-model="type">
          </label>
          <label>
            Ball
            <input type="radio" value="ball" v-model="type">
          </label>
          <label>
            ???
            <input type="radio" value="???" v-model="type">
          </label>
        </div>
      </div>
      <div class="column centered" v-if="type == '???'">
        <label>
          Iterations
          <input type="number" v-model.number="iterations">
        </label>
        <label>
          A
          <input type="number" v-model.number="a">
        </label>
        <label>
          B
          <input type="number" v-model.number="b">
        </label>
        <label>
          C
          <input type="number" v-model.number="c">
        </label>
        <label>
          D
          <input type="number" v-model.number="d">
        </label>
        <label>
          E
          <input type="number" v-model.number="e">
        </label>
      </div>
    </div>
  </div>
  <script src="utils.js"></script>
  <script src="matrix.js"></script>
  <!-- Link Vue before the controller -->
  <script src="https://unpkg.com/vue"></script>
  <script src="controller.js"></script>
</body>

</html>
