<template>
	<div class="container-fluid">
		<div class="row">
				<div class="col-xs-2">
					Clock: {{clock}}
				</div>
				<div class="col-xs-2">
					<button class="btn" v-on:click="fetch">Fetch</button>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-xs-4">BUS</div>
					<div class="col-xs-4">{{bus.dec}}</div>
					<div class="col-xs-4">{{bus.hex}}</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-4">PC</div>
					<input class="col-xs-4" v-model.lazy="pc.dec">
					<input class="col-xs-4" v-model.lazy="pc.hex">
				</div>
				<div class="row">
					<div class="col-xs-4">IR</div>
					<input class="col-xs-4" v-model.lazy="ir.dec">
					<input class="col-xs-4" v-model.lazy="ir.hex">
				</div>
				<div class="row">
					<div class="col-xs-4">MA</div>
					<input class="col-xs-4" v-model.lazy="ma.dec">
					<input class="col-xs-4" v-model.lazy="ma.hex">
				</div>
				<div class="row">
					<div class="col-xs-4">MD</div>
					<input class="col-xs-4" v-model.lazy="md.dec">
					<input class="col-xs-4" v-model.lazy="md.hex">
				</div>
				<div class="row">
					<div class="col-xs-4">A</div>
					<input class="col-xs-4" v-model.lazy="a.dec">
					<input class="col-xs-4" v-model.lazy="a.hex">
				</div>
				<div class="row">
					<div class="col-xs-4">C</div>
					<input class="col-xs-4" v-model.lazy="c.dec">
					<input class="col-xs-4" v-model.lazy="c.hex">
				</div>
			</div>
			<div class="col-sm-2">
				<button class="btn" v-on:click="strobe">Strobe</button>
				<br><br>
				<button class="btn" v-on:click="clear">Clear</button>
				<br>
				<br>
				<div class="row text-center">
					<input type="checkbox" id="PCout" v-model="gates.PCout">
					<label for="PCout">PC<sub>out</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="PCin" v-model="gates.PCin">
					<label for="PCin">PC<sub>in</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="IRin" v-model="gates.IRin">
					<label for="IRin">IR<sub>in</sub></label>
				</div>
				<br>
				<div class="row text-center">
					<input type="checkbox" id="Rout" v-model="gates.Rout">
					<label for="Rout">R<sub>out</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="Rin" v-model="gates.Rin">
					<label for="Rin">R<sub>in</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="BAout" v-model="gates.BAout">
					<label for="BAout">BA<sub>out</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="Gra" v-model="gates.Gra">
					<label for="Gra">Gra</label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="Grb" v-model="gates.Grb">
					<label for="Grb">Grb</label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="Grc" v-model="gates.Grc">
					<label for="Grc">Grc</label>
				</div>
				<br>
				<div class="row text-center">
					<input type="checkbox" id="c1out" v-model="gates.c1out">
					<label for="c1out">c1<sub>out</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="c2out" v-model="gates.c2out">
					<label for="c2out">c2<sub>out</sub></label>
				</div>
				<br>
				<div class="row text-center">
					<input type="checkbox" id="MAin" v-model="gates.MAin">
					<label for="MAin">MA<sub>in</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="MDout" v-model="gates.MDout">
					<label for="MDout">MD<sub>out</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="MDin" v-model="gates.MDin">
					<label for="MDin">MD<sub>in</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="MDrd" v-model="gates.MDrd">
					<label for="MDin">MD<sub>rd</sub></label>
				</div>
				<div class="row text-center">
					<input type="checkbox" id="MDwr" v-model="gates.MDwr">
					<label for="MDwr">MD<sub>wr</sub></label>
				</div>
			</div>
			<div class="cols-sm-4">
				<div class="row">
					<div class="col-sm-2">
						<md :mdObj="md"></md>
						<br>
						<div class="row text-left">
							<input type="checkbox" id="ADD" v-model="gates.alu.add">
							<label for="ADD">ADD</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="SUB" v-model="gates.alu.sub">
							<label for="SUB">SUB</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="AND" v-model="gates.alu.and">
							<label for="AND">AND</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="OR" v-model="gates.alu.or">
							<label for="OR">OR</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="SHR" v-model="gates.alu.shr">
							<label for="SHR">SHR</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="SHRA" v-model="gates.alu.shra">
							<label for="SHRA">SHRA</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="SHL" v-model="gates.alu.shl">
							<label for="SHL">SHL</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="SHC" v-model="gates.alu.shc">
							<label for="SHC">SHC</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="NOT" v-model="gates.alu.not">
							<label for="NOT">NOT</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="NEG" v-model="gates.alu.neg">
							<label for="NEG">NEG</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="CB" v-model="gates.alu.cb">
							<label for="CB">C=B</label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="INC4" v-model="gates.alu.inc4">
							<label for="INC4">INC4</label>
						</div>
					</div>
					<div class="col-sm-2">
						<table class="table">
							<tr>
								<th>op</th>
								<td>{{op}}</td>
							</tr>
							<tr>
								<th>ra</th>
								<td>{{ra}}</td>
							</tr>
							<tr>
								<th>rb</th>
								<td>{{rb}}</td>
							</tr>
							<tr>
								<th>rc</th>
								<td>{{rc}}</td>
							</tr>
							<tr>
								<th>c1</th>
								<td>{{c1}}</td>
							</tr>
							<tr>
								<th>c2</th>
								<td>{{c2}}</td>
							</tr>
							<tr>
								<th>c3</th>
								<td>{{c3}}</td>
							</tr>
						</table>
						<br>
						<div class="row text-left">
							<input type="checkbox" id="Ain" v-model="gates.alu.Ain">
							<label for="Ain">A<sub>in</sub></label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="Cin" v-model="gates.alu.Cin">
							<label for="Cin">c<sub>in</sub></label>
						</div>
						<div class="row text-left">
							<input type="checkbox" id="Cout" v-model="gates.alu.Cout">
							<label for="Cout">c<sub>out</sub></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<registers :registerObj="registers"></registers>
		</div>
		<div class="row">
			<memory :memObj="memory"></memory>
		</div>
	</div>
</template>

<script>
	import Memory from '@/components/memory'
	import Registers from '@/components/registers'
	import Md from '@/components/md'
	import {
		MemmoryManager,
		Word
	} from '../classes'

	export default {
		name: 'main',
		components: {
			Memory,
			Registers,
			Md
		},
		data() {
			return {
				memory: undefined,
				registers: new Array(),
				clock: 0,
				pc: new Word(0),
				ir: new Word(0),
				ma: new Word(0),
				md: new Word(0),
				a: new Word(0),
				c: new Word(0),
				gates: {
					PCout: false,
					PCin: false,
					IRin: false,
					Gra: false,
					Grb: false,
					Grc: false,
					Rin: false,
					Rout: false,
					BAout: false,
					c1out: false,
					c2out: false,
					MAin: false,
					MDout: false,
					MDin: false,
					MDrd: false,
					MDwr: false,
					alu: {
						Ain: false,
						add: false,
						sub: false,
						and: false,
						or: false,
						shr: false,
						shra: false,
						shl: false,
						shc: false,
						not: false,
						neg: false,
						cb: false,
						inc4: false,
						Cin: false,
						Cout: false
					}
				}
			}
		},
		computed: {
			bus() {
				if (this.gates.PCout) {
					return new Word(this.pc.value)
				}
				if (this.gates.Rout || this.gates.BAout) {
					let reg =
						(this.gates.Gra) ? this.ra :
							(this.gates.Grb) ? this.rb :
								(this.gates.Grc) ? this.rc : -1
					if (reg >= 0) {
						let val = new Word(0)
						if (this.gates.Rout) {
							val = this.registers[reg]
						} else {
							if (reg != 0) {
								val = this.registers[reg]
							}
						}
						return new Word(val.value)
					}
				}
				if (this.gates.c1out)
					return new Word(this.c1)
				if (this.gates.c2out)
					return new Word(this.c2)
				if (this.gates.MDout)
					return new Word(this.md.value)
				if (this.gates.alu.Cout)
					return new Word(this.c.value)

				return new Word(0)
			},
			op() {
				return this.ir.value >>> 27 & 0x1f
			},
			ra() {
				return this.ir.value >>> 22 & 0x1f
			},
			rb() {
				return this.ir.value >>> 17 & 0x1f
			},
			rc() {
				return this.ir.value >>> 12 & 0x1f
			},
			c1() {
				return this.ir.value & 0x3fffff
			},
			c2() {
				return this.ir.value & 0x1ffff
			},
			c3() {
				return this.ir.value & 0xfff
			}
		},
		methods: {
			strobe() {
				this.clock++
				if (this.clock > 7)
					this.resetClock()
				if (this.gates.PCin)
					this.pc = this.bus
				if (this.gates.IRin)
					this.ir = this.bus
				if (this.gates.Rin) {
					if (this.gates.Gra)
						this.registers[this.ra] = this.bus
					else if (this.gates.Grb)
						this.registers[this.rb] = this.bus
					else if (this.gates.Grc)
						this.registers[this.rc] = this.bus
					this.registers.push(new Word(0))
					this.registers.pop()
				}
				if (this.gates.MAin)
					this.ma = this.bus
				if (this.gates.MDin)
					this.md = this.bus
				if (this.gates.MDrd)
					this.md.value = parseInt(this.memory.readWord(this.ma.value), 16)
				if (this.gates.MDwr)
					this.memory.writeWord(this.ma.value, this.md.value)

				if (this.gates.alu.Ain)
					this.a = this.bus

				this.stepALU()
				this.clear()
			},
			stepALU() {
				let alu = this.gates.alu
				if (alu.Cin) {
					if (alu.add)
						this.c.value = this.a.value + this.bus.value
					if (alu.sub)
						this.c.value = this.a.value - this.bus.value
					if (alu.and)
						this.c.value = this.a.value & this.bus.value
					if (alu.or)
						this.c.value = this.a.value | this.bus.value
					if (alu.shr)
						this.c.value = this.a.value >> this.bus.value
					if (alu.shra)
						this.c.value = this.a.value >>> this.bus.value
					if (alu.shl)
						this.c.value = this.a.value << this.bus.value
					if (alu.shc)
						this.c.value = (this.a.value >>> this.bus.value) | (this.a.value << (32 - this.bus.value))
					if (alu.not)
						this.c.value = ~this.bus.value
					if (alu.neg)
						this.c.value = -this.bus.value
					if (alu.cb)
						this.c = this.bus
					if (alu.inc4)
						this.c.value = this.bus.value + 4
				}
			},
			fetch() {
				this.gates.MAin = true
				this.gates.PCout = true
				this.gates.alu.Cin = true
				this.gates.alu.inc4 = true
				this.strobe()
				this.gates.MDrd = true
				this.gates.PCin = true
				this.gates.alu.Cout = true
				this.strobe()
				this.gates.MDout = true
				this.gates.IRin = true
				this.strobe()
			},
			clear() {
				this.gates = {
					PCout: false,
					PCin: false,
					IRin: false,
					Gra: false,
					Grb: false,
					Grc: false,
					Rin: false,
					Rout: false,
					BAout: false,
					c1out: false,
					c2out: false,
					MAin: false,
					MDout: false,
					MDin: false,
					MDrd: false,
					MDwr: false,
					alu: {
						Ain: false,
						add: false,
						sub: false,
						and: false,
						or: false,
						shr: false,
						shra: false,
						shl: false,
						shc: false,
						not: false,
						neg: false,
						cb: false,
						inc4: false,
						Cin: false,
						Cout: false
					}
				}
			},
			resetClock() {
				this.clock = 0
			}
		},
		mounted() {
			this.clear();
			this.memory = new MemmoryManager(200)
			for (let i = 0; i < 32; i++) {
				this.registers.push(new Word(1234))
			}
		}
	}
</script>
