<template>
	<div>
		<table>
			<thead>
			<tr>
				<th>md3</th>
				<th>md2</th>
				<th>md1</th>
				<th>md0</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>{{md3}}</td>
				<td>{{md2}}</td>
				<td>{{md1}}</td>
				<td>{{md0}}</td>
			</tr>
			<tr>
				<td>{{md3.toString(16)}}</td>
				<td>{{md2.toString(16)}}</td>
				<td>{{md1.toString(16)}}</td>
				<td>{{md0.toString(16)}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		name: 'md',
		props: ['mdObj'],
		computed: {
			md3() {
				return (this.mdObj.value >>> 24) & 0xff
			},
			md2() {
				return (this.mdObj.value >>> 16) & 0xff
			},
			md1() {
				return (this.mdObj.value >>> 8) & 0xff
			},
			md0() {
				return this.mdObj.value & 0xff
			}
		}
	}
</script>
