<template>
	<div class="text-right">
		<h3 class="text-center">Memory</h3>
		<div class="row">
			<h4 class="col-xs-2">Index</h4>
			<h4 class="col-xs-2">Binary</h4>
			<h4 class="col-xs-2">Hexidecimal</h4>
			<h4 class="col-xs-2">Decimal</h4>
			<h4 class="col-xs-2">Word (hex)</h4>
		</div>
		<div v-if="memObj">
			<div v-for="(cell, index) in memObj.memory" class="row">
				<div class="col-xs-2">
					{{index}}
				</div>
				<input class="col-xs-2" v-model.lazy="cell.bin">
				<input class="col-xs-2" v-model.lazy="cell.hex">
				<input class="col-xs-2" v-model.lazy="cell.dec">
				<div class="col-xs-2">
					{{memObj.readWord(index)}}
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'memory',
		props: ['memObj']
	}
</script>

<style scoped>
	h1 {
		text-align: center;
	}
</style>
