<template>
	<div>
		<div class="row">
			<h3 class="col-xs-1 col-xs-offset-2 text-left">Registers</h3>
		</div>
		<div class="row">
			<h4 class="col-xs-1"></h4>
			<h4 class="col-xs-2">Decimal</h4>
			<h4 class="col-xs-2">Hexidecimal</h4>
		</div>
		<div v-for="(word, index) in registerObj" class="row">
			<div class="col-xs-1 text-right">
				{{index}}
			</div>
			<input class="col-xs-2" v-model.lazy="word.dec">
			<input class="col-xs-2" v-model.lazy="word.hex">
		</div>
	</div>
</template>

<script>
	export default {
		name: 'registers',
		props: ['registerObj']
	}
</script>
