<template>
  <div id="app">
    <div ref="keycapture" @keyup="fly"></div>
    <label>
      Perspective
      <input type="checkbox" checked="checked" v-model.number="camera.perspective" @change="recalculateViews"/>
    </label>
    <label>
      FOV
      <input type="number" min="30" max="120" step="10" v-model.number="camera.fov" @input="recalculateViews"/>
    </label>
    <label>
      Aspect ratio
      <input type="range" min="1" max="2" step="any" v-model.number="camera.ratio" @input="recalculateViews"/>
    </label>
    <br>
    <div>
      Eye
      <br>
      <label>
        X
        <input type="number" v-model.number="camera.eye.x" @input="recalculateViews"/>
      </label>
      <label>
        Y
        <input type="number" v-model.number="camera.eye.y" @input="recalculateViews"/>
      </label>
      <label>
        Z
        <input type="number" v-model.number="camera.eye.z" @input="recalculateViews"/>
      </label>
    </div>
    <br>
    <div>
      Look at
      <br>
      <label>
        X
        <input type="number" v-model.number="camera.lookAt.x" @input="recalculateViews"/>
      </label>
      <label>
        Y
        <input type="number" v-model.number="camera.lookAt.y" @input="recalculateViews"/>
      </label>
      <label>
        Z
        <input type="number" v-model.number="camera.lookAt.z" @input="recalculateViews"/>
      </label>
    </div>
  </div>
</template>

<script>
  import {Matrix4, Vector3} from "./matrix";
  import {createProgram} from "./utils";
  import {Camera} from "./camera";

  export default {
    name: 'app',
    data() {
      const SPHERE_DIV = 20;

      let positions = [];
      let indices = [];

      for (let j = 0; j <= SPHERE_DIV; j++) {
        let aj = j * Math.PI / SPHERE_DIV;
        let sj = Math.sin(aj);
        let cj = Math.cos(aj);
        for (let i = 0; i <= SPHERE_DIV; i++) {
          let ai = i * 2 * Math.PI / SPHERE_DIV;
          let si = Math.sin(ai);
          let ci = Math.cos(ai);

          positions.push(si * sj);  // X
          positions.push(cj);       // Y
          positions.push(ci * sj);  // Z
        }
      }

      for (let j = 0; j < SPHERE_DIV; j++) {
        for (let i = 0; i < SPHERE_DIV; i++) {
          let p1 = j * (SPHERE_DIV + 1) + i;
          let p2 = p1 + (SPHERE_DIV + 1);

          indices.push(p1);
          indices.push(p2);
          indices.push(p1 + 1);

          indices.push(p1 + 1);
          indices.push(p2);
          indices.push(p2 + 1);
        }
      }

      return {
        lines: new Float32Array([
          -5, 0, 0, 5, 0, 0,
          0, -5, 0, 0, 5, 0,
          0, 0, -5, 0, 0, 5
        ]),
        // language=GLSL
        lineVShader: `
          attribute vec4 aPos;
          uniform mat4 uMVPMatrix;
          varying vec4 vPos;
          void main() {
            gl_Position = uMVPMatrix * aPos;
            float val;
            if(aPos.x < 0.0 || aPos.y < 0.0 || aPos.z < 0.0){
              val = -1.0;
            } else {
              val = 1.0;
            }
            vPos = aPos * val;
          }
        `,
        // language=GLSL
        lineFShader: `
          precision mediump float;
          varying vec4 vPos;
          void main() {

            gl_FragColor = vec4(vPos.xyz, 1.0);
          }
        `,
        lineProgram: undefined,
        lineBuf: undefined,
        aLinePos: undefined,
        uLineMVP: undefined,
        lineMVP: new Matrix4(),
        square: new Float32Array([
          0, 0, 0,
          0, 0, 1,
          1, 0, 0,
          1, 0, 1
        ]),
        squareN: new Float32Array([
          0, 1, 0,
          0, 1, 0,
          0, 1, 0,
          0, 1, 0
        ]),
        sphere: new Float32Array(positions),
        indices: new Uint16Array(indices),
        gl: undefined,
        camera: new Camera(),
        // language=GLSL
        floorVShader: `
          attribute vec4 aPos;
          attribute vec4 aNormal;
          uniform mat4 uMVPMatrix;
          uniform mat4 uModelMatrix;
          uniform mat4 uNormalMatrix;
          varying vec2 vTexCoord;
          varying vec3 vNormal;
          varying vec3 vPos;
          void main() {
            gl_Position = uMVPMatrix * aPos;
            vTexCoord = aPos.xz;
            vNormal = normalize(vec3(uNormalMatrix * aNormal));
            vPos = vec3(uModelMatrix * aPos);
          }
        `,
        // language=GLSL
        floorFShader: `
          precision mediump float;
          uniform sampler2D uSampler;
          uniform vec3 uLightPos;
          varying vec2 vTexCoord;
          varying vec3 vNormal;
          varying vec3 vPos;
          void main() {
            vec4 color = texture2D(uSampler, vTexCoord);
            vec3 normal = normalize(vNormal);
            vec3 lightDir = normalize(uLightPos - vPos);
            float normDot = max(dot(lightDir, normal), 0.0);
            gl_FragColor = vec4(color.rgb * normDot, color.a);
          }
        `,
        floorProgram: undefined,
        uFloorMVP: undefined,
        uFloorModel: undefined,
        uFloorNormal: undefined,
        aFloorPos: undefined,
        aFloorNormal: undefined,
        uFloorLightPos: undefined,
        floorModel: new Matrix4(),
        floorMVP: new Matrix4(),
        floorNormal: new Matrix4(),
        fBuf: undefined,
        fBufN: undefined,
        // language=GLSL
        lightVShader: `
          attribute vec4 aPos;
          uniform mat4 uMVPMatrix;
          varying vec3 vPos;
          void main() {
            vec4 pos = uMVPMatrix * aPos;
            gl_Position = pos;
            vPos = pos.xyz;
          }
        `,
        // language=GLSL
        lightFShader: `
          precision mediump float;
          varying vec3 vPos;
          void main() {
            gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
          }
        `,
        lightProgram: undefined,
        aLightPos: undefined,
        uLightMVP: undefined,
        lightModel: new Matrix4(),
        lBuf: undefined,
        lIBuf: undefined,
        // language=GLSL
        metalVShader: `
          attribute vec4 aPos;
          uniform mat4 uMVPMatrix;
          uniform mat4 uModelMatrix;
          uniform mat4 uNormalMatrix;
          varying vec4 vColor;
          varying vec3 vNormal;
          varying vec3 vPos;
          void main() {
            gl_Position = uMVPMatrix * aPos;
            vColor = vec4(1.0, 1.0, 1.0, 1.0);
            vPos = vec3(uModelMatrix * aPos);
            vNormal = normalize(vec3(uNormalMatrix * aPos));
          }
        `,
        // language=GLSL
        metalFShader: `
          precision mediump float;
          uniform vec3 uLightPos;
          varying vec4 vColor;
          varying vec3 vNormal;
          varying vec3 vPos;
          void main() {
            vec3 normal = normalize(vNormal);
            vec3 lightDir = normalize(uLightPos - vPos);
            float normDot = max(dot(lightDir, normal), 0.0);
            vec3 diffuse = vColor.rgb * normDot;
            vec3 ambient = vec3(0.5, 0.5, 0.5) * vColor.rgb;
            gl_FragColor = vec4(diffuse + ambient, vColor.a);
          }
        `,
        metalProgram: undefined,
        aMetalPos: undefined,
        aMetalNormal: undefined,
        uMetalMVP: undefined,
        uMetalModel: undefined,
        uMetalNormal: undefined,
        uMetalLightPost: undefined,
        metalModel: new Matrix4(),
        metalMVP: new Matrix4(),
        metalNormal: new Matrix4(),
        mBuf: undefined,
        mIBuf: undefined,
        lightPos: new Vector3(3, 2, 0, 0),
        time: new Date(),
        angleStep: 45,
        angle: 0
      }
    },
    created() {
      window.addEventListener('keydown', this.fly);

      //Setup gl
      this.gl = document.getElementById('canvas').getContext('webgl');
      let gl = this.gl;
      gl.clearColor(0, 0, 0, 1);
      gl.enable(gl.DEPTH_TEST);

      //Create the program and buffer for the lines
      this.lineProgram = createProgram(gl, this.lineVShader, this.lineFShader);
      gl.useProgram(this.lineProgram);
      this.aLinePos = gl.getAttribLocation(this.lineProgram, 'aPos');
      this.uLineMVP = gl.getUniformLocation(this.lineProgram, 'uMVPMatrix');

      this.lineMVP = this.camera.matrix;

      this.lineBuf = gl.createBuffer();

      //Create the program, model, and buffers for the light
      this.lightProgram = createProgram(gl, this.lightVShader, this.lightFShader);
      gl.useProgram(this.lightProgram);
      this.aLightPos = gl.getAttribLocation(this.lightProgram, 'aPos');
      this.uLightMVP = gl.getUniformLocation(this.lightProgram, 'uMVPMatrix');

      this.lightMVP = this.camera.matrix.multiply(this.lightModel);

      this.lBuf = gl.createBuffer();
      this.lIBuf = gl.createBuffer();

      //Create the program, matrices, and buffers for the metal ball
      this.metalProgram = createProgram(gl, this.metalVShader, this.metalFShader);
      gl.useProgram(this.metalProgram);
      this.aMetalPos = gl.getAttribLocation(this.metalProgram, 'aPos');
      this.uMetalMVP = gl.getUniformLocation(this.metalProgram, 'uMVPMatrix');
      this.uMetalModel = gl.getUniformLocation(this.metalProgram, 'uModelMatrix');
      this.uMetalNormal = gl.getUniformLocation(this.metalProgram, 'uNormalMatrix');
      this.uMetalLightPos = gl.getUniformLocation(this.metalProgram, 'uLightPos');

      this.metalModel = (new Matrix4()).setTranslate(0, 1, 0);
      this.metalMVP = this.camera.matrix.multiply(this.metalModel);
      this.metalNormal = (new Matrix4()).setInverseOf(this.metalModel).transpose();

      this.mBuf = gl.createBuffer();
      this.mIBuf = gl.createBuffer();

      //Create the program, matrices, and buffers for the floor and then load textures
      this.floorProgram = createProgram(gl, this.floorVShader, this.floorFShader);
      gl.useProgram(this.floorProgram);
      this.aFloorPos = gl.getAttribLocation(this.floorProgram, 'aPos');
      this.aFloorNormal = gl.getAttribLocation(this.floorProgram, 'aNormal');
      this.uFloorMVP = gl.getUniformLocation(this.floorProgram, 'uMVPMatrix');
      this.uFloorModel = gl.getUniformLocation(this.floorProgram, 'uModelMatrix');
      this.uFloorNormal = gl.getUniformLocation(this.floorProgram, 'uNormalMatrix');
      this.uFloorLightPos = gl.getUniformLocation(this.floorProgram, 'uLightPos');

      this.floorModel = (new Matrix4()).setScale(10, 1, 10).translate(-0.5, 0, -0.5);
      this.floorMVP = this.camera.matrix.multiply(this.floorModel);
      this.floorNormal = (new Matrix4()).setInverseOf(this.floorModel).transpose();

      this.fBuf = gl.createBuffer();
      this.fBufN = gl.createBuffer();

      const image = new Image();
      let ref = this;
      image.onload = function () {
        gl.useProgram(ref.floorProgram);
        gl.pixelStorei(gl.UNPACK_FLIP_Y_WEBGL, 1);
        gl.activeTexture(gl.TEXTURE0);
        gl.bindTexture(gl.TEXTURE_2D, gl.createTexture());

        gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
        gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_T, gl.CLAMP_TO_EDGE);
        gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_S, gl.CLAMP_TO_EDGE);
        gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGB, gl.RGB, gl.UNSIGNED_BYTE, image);

        gl.uniform1i(gl.getUniformLocation(ref.floorProgram, 'uSampler'), 0);

        ref.animate();
      };
      image.crossOrigin = "Anonymous";
      image.src = 'https://i.imgur.com/S6bqNxM.jpg';
      image.src = 'https://i.imgur.com/WjDXX8D.jpg';
    },
    methods: {
      animate() {
        this.angle += this.angleStep * ((new Date()) - this.time) / 1000;
        this.time = new Date();
        if (this.angle >= 360) {
          this.angle = this.angle % 360;
        }
        this.lightModel = this.lightModel.setRotate(this.angle, 0, 1, 0).translate(0, 3, 3).scale(0.5, 0.5, 0.5);
        let el = this.lightModel.elements;
        this.lightPos.x = el[12];
        this.lightPos.y = el[13];
        this.lightPos.z = el[14];
        this.lightMVP = this.camera.matrix.multiply(this.lightModel);
        this.draw();
        window.requestAnimationFrame(this.animate);
      },
      draw() {
        let gl = this.gl;
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

        //Draw lines
        this.initLineBuffers();
        gl.uniformMatrix4fv(this.uLineMVP, false, this.lineMVP.elements);
        gl.drawArrays(gl.LINES, 0, this.lines.length / 3);

        //Draw the light
        this.initLightBuffers();
        gl.uniformMatrix4fv(this.uLightMVP, false, this.lightMVP.elements);
        gl.drawElements(gl.TRIANGLES, this.indices.length, gl.UNSIGNED_SHORT, 0);

        //Draw the floor
        this.initFloorBuffers();
        gl.uniform3f(this.uFloorLightPos, this.lightPos.x, this.lightPos.y, this.lightPos.z);
        gl.uniformMatrix4fv(this.uFloorMVP, false, this.floorMVP.elements);
        gl.uniformMatrix4fv(this.uFloorModel, false, this.floorModel.elements);
        gl.uniformMatrix4fv(this.uFloorNormal, false, this.floorNormal.elements);
        gl.drawArrays(gl.TRIANGLE_STRIP, 0, this.square.length / 3);

        //Draw the metal ball
        this.initMetalBuffers();
        gl.uniform3f(this.uMetalLightPos, this.lightPos.x, this.lightPos.y, this.lightPos.z);
        gl.uniformMatrix4fv(this.uMetalMVP, false, this.metalMVP.elements);
        gl.uniformMatrix4fv(this.uMetalModel, false, this.metalModel.elements);
        gl.uniformMatrix4fv(this.uMetalNormal, false, this.metalNormal.elements);
        gl.drawElements(gl.TRIANGLES, this.indices.length, gl.UNSIGNED_SHORT, 0);
        this.unbindBuffers();
      },
      initLineBuffers() {
        let gl = this.gl;
        gl.useProgram(this.lineProgram);

        gl.bindBuffer(gl.ARRAY_BUFFER, this.lineBuf);
        gl.bufferData(gl.ARRAY_BUFFER, this.lines, gl.STATIC_DRAW);
        gl.vertexAttribPointer(this.aLinePos, 3, gl.FLOAT, false, 0, 0);
        gl.enableVertexAttribArray(this.aLinePos);
      },
      initLightBuffers() {
        let gl = this.gl;
        gl.useProgram(this.lightProgram);

        gl.bindBuffer(gl.ARRAY_BUFFER, this.lBuf);
        gl.bufferData(gl.ARRAY_BUFFER, this.sphere, gl.STATIC_DRAW);
        gl.vertexAttribPointer(this.aLightPos, 3, gl.FLOAT, false, 0, 0);
        gl.enableVertexAttribArray(this.aLightPos);

        gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, this.lIBuf);
        gl.bufferData(gl.ELEMENT_ARRAY_BUFFER, this.indices, gl.STATIC_DRAW);
      },
      initFloorBuffers() {
        let gl = this.gl;
        gl.useProgram(this.floorProgram);

        gl.bindBuffer(gl.ARRAY_BUFFER, this.fBuf);
        gl.bufferData(gl.ARRAY_BUFFER, this.square, gl.STATIC_DRAW);
        gl.vertexAttribPointer(this.aFloorPos, 3, gl.FLOAT, false, 0, 0);
        gl.enableVertexAttribArray(this.aFloorPos);

        gl.bindBuffer(gl.ARRAY_BUFFER, this.fBufN);
        gl.bufferData(gl.ARRAY_BUFFER, this.squareN, gl.STATIC_DRAW);
        gl.vertexAttribPointer(this.aFloorNormal, 3, gl.FLOAT, false, 0, 0);
        gl.enableVertexAttribArray(this.aFloorNormal);
      },
      initMetalBuffers() {
        let gl = this.gl;
        gl.useProgram(this.metalProgram);

        gl.bindBuffer(gl.ARRAY_BUFFER, this.mBuf);
        gl.bufferData(gl.ARRAY_BUFFER, this.sphere, gl.STATIC_DRAW);
        gl.vertexAttribPointer(this.aMetalPos, 3, gl.FLOAT, false, 0, 0);
        gl.enableVertexAttribArray(this.aMetalPos);

        gl.bindBuffer(gl.ELEMENT_ARRAY_BUFFER, this.mIBuf);
        gl.bufferData(gl.ELEMENT_ARRAY_BUFFER, this.indices, gl.STATIC_DRAW);
      },
      unbindBuffers() {
        this.gl.bindBuffer(this.gl.ARRAY_BUFFER, null);
        this.gl.bindBuffer(this.gl.ELEMENT_ARRAY_BUFFER, null);
      },
      recalculateViews() {
        this.camera.recalcView();
        this.floorMVP = this.camera.matrix.multiply(this.floorModel);
        this.metalMVP = this.camera.matrix.multiply(this.metalModel);
        this.lineMVP = this.camera.matrix;
      },
      fly(event) {
        switch (event.key) {
          case 'w':
            this.camera.translateN(-0.5);
            break;
          case 's':
            this.camera.translateN(0.5);
            break;
          case 'a':
            this.camera.translateU(-0.5);
            break;
          case 'd':
            this.camera.translateU(0.5);
            break;
          case 'q':
            this.camera.translateV(-0.5);
            break;
          case 'e':
            this.camera.translateV(0.5);
            break;
          case 'i':
            this.camera.pitch(0.5);
            break;
          case 'k':
            this.camera.pitch(-0.5);
            break;
          case 'j':
            this.camera.roll(0.5);
            break;
          case 'l':
            this.camera.roll(-0.5);
            break;
          case 'u':
            this.camera.yaw(0.5);
            break;
          case 'o':
            this.camera.yaw(-0.5);
            break;
        }
        this.recalculateViews();
      }
    }
  }
</script>
